.card {
  display: flex;
  flex-direction: column;
  margin: 30px;
  height: 310px;
  width: 290px;
  border-radius: 5px;
  background-color: #fff;
  /* border: 1px solid #efffef; */

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.sub-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 35%;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: url("https://www.transparenttextures.com/patterns/crissxcross.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.sub-card-heading {
  text-decoration: none;
  font-size: 2em;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sub-card-heading:hover {
  text-decoration: underline;
  color: #ffffff;
}
.sub-card-footer {
  font-size: 0.9em;
  color: #eee;
  margin-top: auto;
  display: flex;
}
.rem-card {
  padding: 10px;
  border-bottom-style: inherit;
  height: 65%;
  /* cursor: grab; */
  display: flex;
  flex-direction: column;
}
.rem-card p{
  word-wrap: break-word;
}
.btn-links {
  margin-top: auto;
  text-align: right;
}

.btn-links button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  margin: auto 5px;
  padding: 1px 8px;
  padding-bottom: 4px;
  border-radius: 3px;
}
.sub-card p {
  margin: 0;
}
