.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-image {
  margin: auto;
}

.heading-text {
  text-align: left;
  font-size: 4.5rem;
  color: #5d528f;
  font-weight: bold;
  width: 50%;
  margin: auto 10vw;

}
.landing-page {
  display: flex;
  align-items: center;
  margin-top: 6vh;
}

.login-btn {
  text-decoration: none;
  padding: 10px 30px;
  background-color: #5d528f;
  color: #fff;
  border-radius: 5px;
  font-weight: 500;
  font-size: 20px;
}

/* mobile screens */
@media screen and (max-width: 768px) {
  .landing-page {
    flex-direction: column;
  }
  .landing-image {
    margin: 10vh auto;
  }
  .landing-image img {
    width: 80vw;
  }
  .heading-text {
    width: 100%;
    margin: auto;
    font-size: 3rem;
  }
}
