.navbar {
  background-color: rgb(185, 181, 255, 0.16);
  border-bottom: 3px solid #5d528f;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-brand img {
  height: 48px;
}

.nav-links {
  margin: auto;
  display: flex;
  justify-content: center;
  height: 100%;
}

.nav-link-item {
  margin: 0 1ch;
  padding: 2px 15px;
  padding-top: 0;
  min-width: 13ch;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  text-align: center;
}
.nav-link-item a {
  color: #fff;
  text-decoration: none !important;
}
.nav-link-item a:hover {
  color: #fff;
  text-decoration: none !important;
}
.nav-right {
  margin-left: auto;
  margin-right: 3%;
}
