html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

input,
textarea {
  border: 1px solid #eee;
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
}
input:focus,
textarea:focus {
  outline: 1px solid #ccc;
}
