.form-group input {
  width: 30ch;
  font-size: 1.2rem;
  color: #625796;
  font-weight: 500;
}
.form-group input::-webkit-input-placeholder {
  color: #908f9b;
}
.form-group input.error {
  outline: 1px solid rgb(218, 116, 116);
  box-shadow: rgb(218, 116, 116) 0px 2px 8px 0px;
}

.form-group {
  margin-bottom: 10px;
  width: 100%;
  transition: all 0.1s ease-in-out;
  display: flex;
  flex-direction: column;
}
.form-group label {
  font-size: 0.9rem;
  color: #625796;
  font-weight: bold;
  margin-bottom: 2px;
}

.error-message {
  color: #eee;
  font-size: 15px;
  margin-top: 3px;
  overflow: hidden;
  height: 0px;
  transition: all 0.1s ease-in-out;
  text-align: right;
}
.error-show {
  height: 20px;
  pointer-events: auto;
  transition: all 0.1s ease-in-out;
}

.form-group button[type="submit"] {
  margin-top: 10px;
  background-color: #5d528f;
  outline: none;
  border: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}
.form-group button[type="submit"]:hover {
  transition: all 0.3s ease;
  background-color: #fff;
  color: #5d528f;
  border: 1px solid #5d528f;
}